body{
  display:flex;
  justify-content: center;
  background-color: white;
  margin:1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.App {
  color:whitesmoke;
}

