#div{
  overflow:hidden;
}

.App {
  background-color: #e2eafc;
  color:whitesmoke;
  text-align: center;
  height: 100vh;
  overflow:hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Comp{
  margin:1rem;
}

